* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
}

.frame {
    margin: 10rem auto;
}

/* cards properties */
.cards {
    margin: 10rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.card {
    padding: 3rem;
    width: 330px;
    display: flex;
    height: 530px;
    flex-direction: column;
    align-items: left;
}

.card-heading {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 1.5rem;
    color: hsl(0, 0%, 95%);
}

.card-info {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.9;
    margin-bottom: 3.5rem;
    width: 90%;
}

.first-card {
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0 0 7px;
}

.middle-card {
    background-color: hsl(184, 100%, 22%);
}

.last-card {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 7px 7px 0;
}

.car-pic {
    margin-bottom: 2rem;
}

.btn {
    background-color: hsl(0, 0%, 95%);
    border: 2px solid  hsl(0, 0%, 95%);
    padding: .8rem 1rem;
    width: 9rem;
    border-radius: 30px;
    margin: 2rem 0 0;
    font-size: 15px;
    font-weight: 700;
}

.btn:hover {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: rgba(242, 242, 242, 0);
    cursor: pointer;
}

.first-btn {
    color:hsl(31, 77%, 52%);
}

.middle-btn {
    color: hsl(184, 100%, 22%);
}

.last-btn {
    color:hsl(179, 100%, 13%);
}

.attribution {
    color: hsl(179, 100%, 13%);
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(31, 77%, 52%);
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(184, 100%, 22%);
}

@media (max-width: 1000px) and (min-width: 850px)  {
    .card {
        width: 30%;
        height: 500px;
    }

    .card-info {
        width: 100%;
    }

    .card-info {
        margin-bottom: 0;
    }

    .btn {
        margin-top: 2rem;
    }
}

@media (max-width: 850px) {

    .frame {
        margin: 0 auto;
    }

    .cards {
        flex-direction: column;
        margin: 5rem auto ;
    }

    .card {
        height: 450px;
    }

    .first-card {
        border-radius: 7px 7px 0 0 ;
    }
    
    .last-card {
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 0 7px 7px ;
    }

    .card-info {
        width: 100%;
        margin-bottom: 0;
    }

    .btn {
        margin-top: 1rem;
    }
}

/* animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}